.header {
    color: #FF0000;
    font-family: "Garamond";
    display: flex;

    &--img {
        width: 50px;
    }

    &--link {
        padding: 20px;
        text-align: center;
        text-decoration: none;

        &-container {
            justify-content: flex-end;
            margin-left: auto;
        }
    }
}