.header {
    font-family: "consolas";
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &--img {
        height: 15px;
        vertical-align: bottom;
        align-self: center;

        &-container {
            display: flex;
            padding: 0px 10px;
        }
    }

    &--link {
        width: 90px;
        padding: 10px 0px;
        margin: 0px 5px;
        text-align: center;
        align-self: center;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        color: black;

        &:hover {
            background-color: #fafafa;
            border-bottom: 1px solid black;
        }

        &-selected {
            border-bottom: 1px solid black;
        }

        &-container {
            justify-content: flex-end;
            margin-left: auto;
            display: flex;
        }
    }

    &--mobile-link {
        display: none;
        text-decoration: none;
        color: black;
        padding: 10px;

        &:hover {
            background-color: #fafafa;
        }

        &-selected {
            background-color: #fafafa;
        }

        &-container {
            position: absolute;
            display: none;
            width: 100%;
            display: flex;
            background-color: white;
            flex-direction: column;
            top: 100%;

            &-show {
                display: block;
            }
        }
    }

    &--mobile-menu-button {
        justify-content: flex-end;
        margin-left: auto;
    }
}